# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# Environment
.env
*.env
client_secret.json
saltycat.json
ar_new_wallet_*.json
ar_wallet_*.json
ar_accout*
code.txt

# OS
.DS_Store
Thumbs.db

# Frontend
node_modules/
dist/
.vite/

# Temporary/Tests
test*.py
*.pyc
*.swp
src/ar_keygen*.py
src/backend/simulate_upload.py
*.jpg
*.png
!digital-tattoo-icon-1024.png
*.webp
download.jpg
no_checkin
sink
